

.dropDwonBudget{
    background-color: white;
        width: 134px;
        height: 91px;
       
       right: 10px;
        color: black;
        padding: 12px 20px 12px 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
     
       
        
        transition: all 0.3s ease-in-out;
}
.budAddBor{
    width: 155px;
    height: 53px;
    gap: 16px;
    color: white;
    border-radius: 8px;
    background-color: black;
}

.budAddBor:hover{
    width: 155px;
        height: 53px;
        gap: 16px;
        color: white;
        background-color:#696868;
}
.Entain{
    width: 688px;
    height: 510px ;
    background-color: white;
    margin-bottom: 20px;
    padding: 32px;
    
}

.EntainBord {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  
    ;
   
}
.barOne{
    width: 162px;
    height:24px ;
    border-radius: 4px;
    
    
   
}

.colorBoder{

    max-width:496px ;
    max-height: 298px ;
    width: 100%;
    
       overflow-y: auto;
        overflow-x: hidden;
    display: flex;
        flex-direction: column;
        padding: 8px 0;
        border: 1px solid #e2e8f0;
        border-radius: 8px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.barTwo{
    width: 624px;
    height: 32px; 
    background-color: #F8F4F0;
    padding: 4px;
    border-radius: 4px;
    
}

.spent{
    width:264px;
    height: 43px;
    display: flex;
    gap: 20px;
}
.saved{
    width:264px ;
    height: 43px;
    display: flex;
    gap: 20px;
}

.spentBor{
    width: 4px ;
    height:43px ;
    background-color: #277C78;
    border-radius: 8px;
    
}

.savedBor{
  width: 4px;
  height: 43px;
  background-color: #F8F4F0;
  border-radius: 8px;
}


.lastSpend{
    width:624px ;
    height: 254px;
    border-radius:12px ;
   padding: 20px;
   margin-top: 20px;
    background-color: #F8F4F0 ;
}

.editBorder{
  max-width: 560px;
  height: 512px ;
  padding: 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.addBud{
    max-width: 560px;
        height: 490px;
        padding: 32px;
        background-color: white;
        display: flex;
        flex-direction: column;
}


.withDraw{
   
            max-width: 560px;
            height: 458px;
            padding: 32px;
            background-color: white;
            display: flex;
            flex-direction: column;
        
}



.editBorderInput{
    margin-top: 20px;
    max-width: 496px;
    height: 255px;
    
}

.borderInput{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 496px;
    height: 45px ;
    width: 100%;
}

.borderInputSaved {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 496px;
    height: 53px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}

.borderInputSaved:hover{
    
    opacity: 0.7;
}

.borderDelete {
    display: flex;
    border: 1px solid white;
    background-color:#C94736;
    border-radius: 8px;
    max-width: 496px;
    height: 45px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.borderDelete:hover{
    opacity: 0.7;
}

.model_layers{
  position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.model{
    border-radius: 10px;
}

.DeleteBorder{
    max-width: 560px ;
    height: 278px ;
    padding: 32px;
    background-color: white;
    width: 100%;
}


@media  (min-width:375px) and (max-width:764px) {
   

    .budDisplay{
        display: flex;
        flex-direction: column;
         overflow: hidden;
         flex-basis: 375px;
         width: 100%;
        
         min-width: none;
         flex-shrink: 1;
         font: 1em sans-serif;
         
        
    }

        .BudBorder {
            flex-basis: 343px;
            width: 100%;
            display: flex;
            justify-content: center;
          
            min-width: none;
            flex-shrink: 1;
            flex-grow: 1;
            padding: 32px;
            background-color: white;
           

        }

                .Entain {
                    flex-basis: 343px;
                    min-height: 583px;
                    width: 100%;
                    min-width: none;
                    flex-shrink: 1;
                    flex-grow: 1;
                    background-color: white;
                    margin-bottom: 20px;
                    padding: 32px;
        
       
                }

                           .lastSpend {
                               flex-basis: 303px;
                               min-height: 246px;
                               width: 100%;
                               height: auto;
                               min-width: none;
                               flex-shrink: 1;
                                 flex-grow: 1;
                               border-radius: 12px;
                               padding: 20px;
                               margin-top: 20px;
                               background-color: #F8F4F0;
                               
                           }
 .barTwo {
     flex-basis: 303px;
     height: 32px;
     flex-shrink: 1;
     flex-grow: 1;
     width: 100%;
     background-color: #F8F4F0;
     padding: 4px;
     border-radius: 4px;

 }

 .barOne {
     flex-basis: 303px;
     height: 24px;
     border-radius: 4px;



 }
                }


 @media (min-width:765px) and (max-width:1024px) {
           
    
    .budDisplay {
            display:flex ;
            flex-direction: column;
            overflow: hidden;
            flex-basis: 688px;
            width: 100%;
            min-height: 2480px;
            min-width: none;
            flex-shrink: 1;
            font: 1em sans-serif;
            height: 100%;
           
    
        }

                .Entain {
                    flex-basis: 688px;
                    height: 510px;
                    width: 100%;
                    min-width: none;
                    flex-shrink: 1;
                    flex-grow: 1;
                    background-color: white;
                    margin-bottom: 20px;
                    padding: 32px;
        
        
                }

                 .BudBorder {
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                  
                     flex-basis: 688px;
                     width: 100%;
                     height: 344px;
                     min-width: none;
                     flex-shrink: 1;
                     flex-grow: 1;
                     padding: 32px;
                     background-color: white;
                     
        
        
                 }

                  .sumDisplay{
                    display: flex;
                    flex-direction: column;
                 flex-basis: 296px;
                    width: 100%;
                    height: 223px;

                  }

                 
              
                                   .Entain {
                                       flex-basis: 688px;
                                       max-height: 510px;
                                       height: auto;
                                       width: 100%;
                                       min-width: none;
                                       flex-shrink: 1;
                                       flex-grow: 1;
                                       background-color: white;
                                       margin-bottom: 20px;
                                       padding: 32px;
                                    
                
                
                                   }
           .barTwo {
               flex-basis: 624px;
               height: 32px;
               width: 100%;
               flex-grow: 1;
               flex-shrink: 1;
               background-color: #F8F4F0;
               padding: 4px;
               border-radius: 4px;
    
           }
                   .barOne {
                       flex-basis: 624px;
                       height: 24px;
                       border-radius: 4px;
                        flex-grow: 1;
                        flex-shrink: 1;
        
        
                   }
   .spent {
       flex-basis: 303px;
         width: 100%;
         flex-shrink: 1;
            flex-grow: 1;
                min-width: none;
       height: 43px;
       display: flex;
       gap: 20px;
   }

   .saved {
       flex-basis: 303px;
       height: 43px;
       width: 100%;
       flex-shrink: 1;
       flex-grow: 1;
       min-width: none;
       display: flex;
       gap: 20px;
   }


         .lastSpend {
             flex-basis: 624px;
             max-height: 254px;
             width: 100%;
             height: auto;
             min-width: none;
             flex-shrink: 1;
             flex-grow: 1;
             border-radius: 12px;
             padding: 20px;
             margin-top: 20px;
             background-color: #F8F4F0;
    
         }
                }


@media (min-width:1024px) {
  
    
        .budDisplay {
            display: flex;
            flex-direction: row;
            
            flex-basis: 1060px;
            max-height: 2112px;
             width: 100%;
             
            flex-wrap: nowrap;
            
           
            min-width: none;
            
        
    
    
        }

         
           
    
        

                 .BudBorder {
                     display: flex;
                     flex-wrap: nowrap;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     
                     width: 364px;
                   
                     max-height: 280px;
                     
                     min-width: none;
                     
                    
                    
                    
        
        
        
                 }

                  .Entain {
                      flex-basis: 608px;
                      max-height: 510px;
                       
                      width: 100%;
                      min-width: none;
                      flex-shrink: 1;
                      flex-grow: 1;
                      background-color: white;
                    
                      margin-bottom: 20px;
                      padding: 32px;
                     
        
        
        
                  }

        .barTwo {
            flex-basis: 544px;
           height:32px ;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: #F8F4F0;
            padding: 4px;
            border-radius: 4px;
    
        }
    
        .barOne {
            flex-basis: 544px;
            height: 24px;
            border-radius: 4px;
            flex-grow: 1;
            flex-shrink: 1;
    
    
        }

          .spent {
              flex-basis: 264px;
              width: 100%;
              flex-shrink: 1;
              flex-grow: 1;
              min-width: none;
              height: 43px;
              display: flex;
              gap: 20px;
          }
    
          .saved {
              flex-basis: 264px;
              height: 43px;
              width: 100%;
              flex-shrink: 1;
              flex-grow: 1;
              min-width: none;
              display: flex;
              gap: 20px;
          }

         .lastSpend {
             flex-basis: 624px;
             max-height: 254px;
             width: 100%;
             height: auto;
             min-width: none;
             flex-shrink: 1;
             flex-grow: 1;
             border-radius: 12px;
             padding: 20px;
             margin-top: 20px;
             background-color: #F8F4F0;
             
    
         }
}

